# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local database
db.sqlite3

# Environment variables file
.env

# Exclude journal_test directory (contains heavy files/images/videos/installers)
journal_test/
